body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;

}

header {
  padding: 20px 0;
}

header .row,
footer .row {
  display: flex;
  align-items: center;
}

header h1 {
  font-weight: 700;
  margin: 0;
}

header h4 {
  font-weight: 500;
  margin: 0;

}

header nav {
  display: flex;
  justify-content: flex-end;
}

#nav_link {
  text-decoration: none;
  color: black;
  font-size: 1em;
  padding: 3px 5px 3px 5px;

}

#nav_link:hover {
  background-color: #E8DFE0;
  border-radius: 5px;
  border: 0;
  text-decoration: none;
}


header p {
  padding: 0 20px;
  margin: 0;
}

}

.jumbotron {
  display: flex;
  align-items: center;
  background-image: url("https://raw.githubusercontent.com/lucheuer/dallaspiano/gh-pages/app/images/wassily-kandinsky-werke-04-big.jpg");
  background-size: cover;
  color: #ffffff;
  height: 350px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
}

.jumbotron h3 {
  margin: 0 0 20px;
  color: #000000;
}

section .row img {
  margin: 0 0 30px;
  width: 100%;
  border: none;

.col.md.6 {
  margin: 0 0 30px;
}

.btn.btn-primary {
  border-radius: 2px;
  border: 0px;
  color: #fbd1d5;
  text-shadow: none;
  background-color: #ffffff;
}

.btn.btn-primary:hover {
  color: #ffffff;
  background-color: #fbd1d5;
}

.btn-secondary {
  background-color: #E8DFE0;
  color: #676664;
  margin: 0 0 30px;
}


footer {
  font-size: 12px;
  padding: 20px 0;
}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}

footer ul {
  list-style: none;
}

footer li img {
  width: 32px;
  height: 32px;
}
